<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">
                            Update Password</h3>
                        <p class="mb-0">Enter your password you want to change to.</p>
                    </div>
                    <div class="card-body">
                        <form id="passwordForm" role="form text-left">
                            <label>NEW PASSWORD</label>
                            <div class="input-group mb-3">
                                <input id="newPassword" name="newPassword" type="password" aria-label="Password"
                                    class="form-control" placeholder="Enter your password" aria-label="Password"
                                    aria-describedby="email-addon" minlength="8" required>
                            </div>
                            <label>CONFIRM NEW PASSWORD</label>
                            <div class="input-group mb-3">
                                <input id="newPasswordConfirmation" name="newPasswordConfirmation" type="password"
                                    class="form-control" placeholder="Re-enter your password" aria-label="Password"
                                    aria-describedby="password-addon" minlength="8" required>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                    class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>