<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-white text-sm text-lg-start">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>,
                    Made with ❤️ by <a class="text-bold" target="_blank" href="https://github.com/NicoRuizDev">
                        NicoRuizDev</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="/about" class="nav-link text-white" target="_blank">About
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a href=" <%= settings.api.client.oauth2.link %>/privacy" class="nav-link text-white"
                            target="_blank">Privacy
                            Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href=" <%= settings.api.client.oauth2.link %>/terms" class="nav-link pe-0 text-white"
                            target="_blank">Terms of Service</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>